/Y2048.Desktop/obj
/Y2048.Desktop/bin
/Y2048.Core/obj
/Y2048.Core/bin
/Y2048.Android/bin
/Y2048.Android/obj
/packages
/Modules/Physics/Birch.Physics.Box2D/obj
/Modules/Physics/Birch.Physics.Box2D/bin
/Modules/Physics/Box2D.NetStandard/bin
/Modules/Physics/Box2D.NetStandard/obj
/Birch.Desktop/obj
/Birch.Desktop/bin
/Birch.Android/bin
/Birch.Android/obj
/Birch/bin
/Birch/obj
/.idea
